/* Esto es aplicado a los bodys en general del aplicativo */
body {
    background: linear-gradient(to bottom right, #15a598, #1a72a9, #4e31a8);
    min-height: 100vh;
    color: white;
}

/* Items que se ubican en la vista de Iniciar sesion */
.feature-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.feature-item i {
    font-size: 2rem;
    margin-right: 15px;
    color: #cfeaff;
}

.feature-title {
    font-size: 1.3rem;
    font-weight: 600;
}

.feature-text {
    margin: 0;
    opacity: 0.85;
}

.card-login {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);
    padding: 25px;
    border-radius: 12px;
}

/* Estilos de VerUsuarios*/
.usuarios-container {
    background: #fff;
    padding: 30px;
    border-radius: 16px;
    border: 1px solid #ddd;
    margin-top: 20px;
}

.usuarios-container h3 {
    font-size: 22px;
    font-weight: bold;
    color: #000;
}

.usuarios-container p {
    margin: 0;
    color: #000;
}

.btn-agregar {
    background: #0b0b32;
    color: white !important;
    padding: 10px 10px;
    margin: 5px;
    border-radius: 10px;
    text-decoration: none;
}

.btn-agregar:hover {
    background: #121241;

}

.usuarios-table th {
    color: #000 !important;
}

.tag {
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: bold;
}

.tag-admin {
    background: #f1d9fd;
    color: #6a1e99;
}

.tag-coord {
    background: #d5e9ff;
    color: #1264b0;
}

.tag-usuario {
    background: #e5e8ec;
    color: #444;
}

.icon-btn {
    background: #f1f1f5;
    border-radius: 8px;
    padding: 6px 10px;
    margin-right: 6px;
    text-decoration: none;
    display: inline-block;
    color: #000;
}

.icon-btn:hover {
    background: #e4e4e6;
}

.icon-btn.delete {
    background: #ffe0e0;
}

.icon-btn.delete:hover {
    background: #ffbaba;
}
