/* Esto es aplicado a los bodys en general del aplicativo */
body {
    background: linear-gradient(to bottom right, #15a598, #1a72a9, #4e31a8);
    min-height: 100vh;
    color: white;
}

/* Items que se ubican en la vista de Iniciar sesion */
.feature-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.feature-item i {
    font-size: 2rem;
    margin-right: 15px;
    color: #cfeaff;
}

.feature-title {
    font-size: 1.3rem;
    font-weight: 600;
}

.feature-text {
    margin: 0;
    opacity: 0.85;
}

.card-login {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);
    padding: 25px;
    border-radius: 12px;
}
/* Fondo degradado como la imagen */
.panel-bg {
    padding: 10px;
    min-height: 70vh;
    background: white;
    padding-bottom: 60px;
}

/* Navbar */
.custom-navbar {
    background: transparent;
    color: #1e5bd4;
    padding: 20px 40px;
    font-size: 18px;
}

.custom-navbar a {
    color: #1e5bd4;
    text-decoration: none;
}

/* Tarjetas */
.panel-card {
    background: #d6eadf;
    border-radius: 18px;
    padding: 35px 25px;
    text-align: center;
    width: 330px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.panel-card .icon-wrapper {
    width: 70px;
    height: 70px;
    background: #e4edff;
    color: #1e5bd4;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    margin: 0 auto 15px;
}

.panel-card .fw-bold{
    color: black;
}

/* Botón Abrir */
.btn-open {
    width: 100%;
    background: #1e5bd4;
    color: white;
    padding: 10px;
    border-radius: 8px;
    margin-top: 20px;
}

.btn-open:hover {
    background: #144aaf;
}

/* Texto blanco superior */
.panel-title {
    color: black;
    padding-left: 40px;
}

.panel-title h1 {
    font-weight: 600;
}

.panel-title h4 {
    font-weight: 300;
}

 /* Estilos de VerUsuarios*/  
.usuarios-container {
    background: #fff;
    padding: 30px;
    border-radius: 16px;
    border: 1px solid #ddd;
    margin-top: 20px;
}

.usuarios-container h3 {
    font-size: 22px;
    font-weight: bold;
    color: #000;
}

.usuarios-container p {
    margin: 0;
    color: #000;
}

.btn-agregar {
    background: #0b0b32;
    color: white !important;
    padding: 10px 10px;
    margin: 5px;
    border-radius: 10px;
    text-decoration: none;
}

.btn-agregar:hover {
    background: #121241;

}

.usuarios-table th {
    color: #000 !important;
}

.tag {
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: bold;
}

.tag-admin {
    background: #f1d9fd;
    color: #6a1e99;
}

.tag-coord {
    background: #d5e9ff;
    color: #1264b0;
}

.tag-usuario {
    background: #e5e8ec;
    color: #444;
}

.icon-btn:hover {
    background: #e4e4e6;
}

.icon-btn.delete {
    background: #ffe0e0;
}

.icon-btn.delete:hover {
    background: #ffbaba;
}

/*Estilos verSalas*/

.salas-table-container {
    background: #fff;
    padding: 30px;
    border-radius: 16px;
    border: 1px solid #ddd;
    margin-top: 20px;
}

/* Título */
.salas-table-container h2 {
   font-size: 22px;
   font-weight: bold;
   color: #000;
}

.salas-table-container p {
    margin: 0;
    color: #000;
}

/* Botón Registrar sala */
.btn-agregar-sala {
    background: #0b0b32;
    color: white !important;
    padding: 10px 10px;
    margin: 5px;
    border-radius: 10px;
    text-decoration: none;
}

.btn-agregar-sala:hover {
    background: #121241;
}

.btn-volver-sala:hover {
    background: #e4e4e6;
}

.salas-table th {
    color: #000 !important;
    font-weight: bold;
}

.header-salas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.acciones-derecha {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 15px;
}

/*Estilos verEquipos */
.equipos-table-container {
    background: #fff;
    padding: 30px;
    border-radius: 16px;
    border: 1px solid #ddd;
    margin-top: 20px;
}

.equipos-table-container h2 {
    font-size: 22px;
    font-weight: bold;
    color: #000;
}

.equipos-table-container p {
    margin: 0;
    color: #000;
}

.header-equipos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.header-equipos h2 {
    font-size: 22px;
    font-weight: bold;
    color: #000;
    }

.btn-agregar-equipo {
    background: #0b0b32;
    color: white !important;
    padding: 10px 10px;
    margin: 5px;
    border-radius: 10px;
    text-decoration: none;
}

.btn-agregar-equipo:hover {
    background: #121241;
}

.equipos-table th {
    color: #000 !important;
    font-weight: bold;
}

.tag-disponible {
    background: #d7f7db;
    color: #2d8a2d;
}

.tag-ocupado {
    background: #fff3b2;
    color: #a8860f;
}

.tag-mantenimiento {
    background: #f8c6c6;
    color: #b12a2a;
}

.icon-btn {
    background: #f1f1f5;
    border-radius: 8px;
    padding: 6px 12px;
    margin-right: 6px;
    text-decoration: none;
    display: inline-block;
    color: #000;
    font-weight: 500;
    border: none;
}

