@{
    ViewData["Title"] = "Panel Administrador";
}


<div class="panel-bg">

    <!-- TITULOS -->
    <div class="panel-title mt-4">
        <h1>Panel del Administrador</h1>
        <h4>Bienvenido Administrador Miguel</h4>
    </div>

    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success w-50 mx-auto mt-4">@TempData["Success"]</div>
    }

    <!-- CARDS -->
    <div class="d-flex justify-content-center mt-5 gap-5 flex-wrap">

        <!-- TARJETA USUARIOS -->
        <div class="panel-card">
            <div class="icon-wrapper">
                <i class="bi bi-people-fill"></i>
            </div>
            <h5 class="fw-bold">Gestión de Usuarios</h5>
            <p class="text-muted">Ver y administrar usuarios registrados</p>

            <a asp-controller="Administrador" asp-action="VerUsuarios" class="btn btn-open">
                Abrir
            </a>
        </div>

        <!-- TARJETA SALAS -->
        <div class="panel-card">
            <div class="icon-wrapper">
                <i class="bi bi-door-open-fill"></i>
            </div>
            <h5 class="fw-bold">Gestión de Salas</h5>
            <p class="text-muted">Ver y administrar salas</p>

            <a asp-controller="Administrador" asp-action="VerSalas" class="btn btn-open">
                Abrir
            </a>
        </div>

        <!-- TARJETA EQUIPOS -->
        <div class="panel-card">
            <div class="icon-wrapper">
                <i class="bi bi-display-fill"></i>
            </div>
            <h5 class="fw-bold">Gestión de Equipos</h5>
            <p class="text-muted">Ver y administrar equipos</p>

            <a asp-controller="Administrador" asp-action="VerEquipos" class="btn btn-open">
                Abrir
            </a>
        </div>

    </div>

</div>

