@{
    ViewData["Title"] = "Panel Administrador";
}

<h2>Panel del Administrador</h2>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">@TempData["Success"]</div>
}

<div class="mb-3">
    <a class="btn btn-light text-primary fw-bold" asp-controller="Administrador" asp-action="VerUsuarios">Ver usuarios registrados en el sistema</a>
</div>

